html, body, div#root {
  height: 100%;
}
.App {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  height: 100%;
}

.column {
  flex-direction: column;
  align-items: stretch;
}

.column-1 {
  flex: 3;
}

.column-2 {
  flex: 1;
}
