html, body, div#root {
  height: 100%;
}
.App {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  height: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.column-1 {
  flex: 3;
}

.column-2 {
  flex: 1;
}

.main-component {
  border: 2px solid #000;
}

.SimulationOutput {
  flex: 3;
}

.DataTimeline {
  flex: 2;
}

.SettingsPanel {
  flex: 3;
}

.SimulationInput {
  flex: 2;
}
